@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
@import 'config';

:root {
  --primaryColor: #379683;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Grenze', serif;
}

a{
  text-decoration: none;
}

/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    z-index: 1;

    .navbar-center {
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      justify-content: space-between;

      .logo {
        width: 40px;
        height: 40px;
      }

      .cart-btn {
        position: relative;
        cursor: pointer;

        .nav-icon {
          font-size: 1.5rem;
        }
        .cart-items {
          position: absolute;
          top: -8px;
          right: -8px;
          background: var(--primaryColor);
          padding: 0 5px;
          border-radius: 30%;
          color: var(--mainWhite);
        }

      }

    }

}

  /* --------------- End of Navbar ---------------- */
  /* --------------- Hero ---------------- */
.hero {
    min-height: calc(100vh - 50px);
    background: url("../images/hero-bcg.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    .banner {
      text-align: center;
      display: inline-block;
      padding: 2rem;
      margin-top: 100px;
      .banner-title {
        font-size: 3.4rem;
        text-transform: uppercase;
        letter-spacing: var(--mainSpacing);
        color: var(--mainWhite);
        margin-bottom: 3rem;
      }
      .banner-btn {
        @include mainButton;
      }
    }
  }

  /* --------------- End of Hero ---------------- */
  /* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
    .section-title{
      h2 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 5rem;
      text-transform: uppercase;
      letter-spacing: var(--mainSpacing);
        &:after {
            content: "";
            position: absolute;
            bottom: -135px;
            width: 76px;
            height: 5px;
            margin: 0 0 0 -38px;
            left: 50%;
            background: var(--primaryColor);
        }
      }
  }

    .products-center {
      width: 90vw;
      margin: 0 auto;
      max-width: 1170px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-gap: 2rem;

      .product {
        box-shadow: 0 0 12px #aaa;

        .img-container {
          position: relative;
          overflow: hidden;

          .product-img {
            display: block;
            padding: 20px;
            width: 100%;
            min-height: 12rem;
            transition: var(--mainTransition);
            cursor: pointer;

            &:hover {
              opacity: 0.7;
              transform: scale(1.1);
            }
          }
          
        }

        .product-info{
          padding: 20px;

          .bag-btn {
            @include flexCentering;
            background: var(--mainBlack);
            border: none;
            text-transform: uppercase;
            padding: 0.5rem 0.75rem;
            letter-spacing: var(--mainSpacing);
            font-weight: bold;
            cursor: pointer;
            outline: none;
            transition: var(--mainTransition); 
            color: #fff;
            &:hover{
              background: var(--primaryColor);
              color: #222;
            }
          }


  
  
          .img-container:hover .product-img {
            opacity: 0.7;
          }
          
          h4 {
            margin-top: 0.7rem;
            letter-spacing: var(--mainSpacing);
            color: var(--primaryColor);
            font-size: 2rem;
            // text-align: center;
            padding: 10px;
          }
        }
      }

                
      h3 {
        text-transform: capitalize;
        font-size: 1rem;
        margin-top: 1rem;
        border-bottom: 1px #222 solid;
        border-top: 1px #222 solid;
        letter-spacing: var(--mainSpacing);
        // text-align: center;
        padding: 10px;
      }

    }
  }

  /* ---------------End of Products ---------------- */
  /* ---------------Single product ---------------- */
  .singleproduct {
    display: flex;
    padding: 50px;
  }

  .single-img{
    img{
      width: 400px;
    }
  }

  .product-info {
    padding: 40px 10px 0px 100px;
    p{
      font-size: 20px;
      width: 75%;
      padding-top: 10px;
    }
    h3{
      text-transform: uppercase;
    }
    h4{
      margin-top: 50px;
      color: var(--primaryColor);
      font-size: 35px;
    }
    button{
      @include mainButton;
      margin-top: 25px;
      padding: 1rem 2rem;
    }
  }
  /* ---------------End of Single Product ---------------- */
  /* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(34, 2, 0, 0.5);
    z-index: 2;
    visibility: hidden;

  }

  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: var(--mainWhite);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);

    h2 {
      text-transform: capitalize;
      text-align: center;
      letter-spacing: var(--mainSpacing);
      margin-bottom: 2rem;
    }
  }

  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }

  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
    img {
      width: 75px;
      height: 75px;
    }
    h4 {
      text-transform: capitalize;
      letter-spacing: var(--mainSpacing);
    }
     h5 {
      margin: 0.5rem 0;
      letter-spacing: var(--mainSpacing);
    }
    .item-amount {
      text-align: center;
    }
    .remove-item {
      color: red;
      cursor: pointer;
    }
    .plus-sign,
    .minus-sign{
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }

  .clear-cart {
    @include mainButton;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  
/* --------------- End of Cart ---------------- */
/* --------------- Footer ---------------- */
footer {
  height: 5vh;
  background: lightskyblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;

  p{
    margin: 0 10px;
  }
}
/* --------------- End of Footer ---------------- */  
/* --------------- Modal Section ---------------- */  
// .bg-modal{
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(#000, 0.7);
//   position: fixed;
//   @include flexCentering;
//   display: none;

//   .modal-content {
//       @include flexCentering;
//       width: 60vw;
//       height: 60vh;
//       color: #000;
//       border-radius: 4px;
//       padding: 20px;
//       position: relative;
//       animation: zoomIn .5s forwards;
//       transition: top 0.4s, opacity 0.4s;
//       background: #fff;

//       .img-modal-container{
//         padding: 40px;
//         .modal-img {
//           width: 268.5px;
//           height: 268.5px;
//         }
//       }
      
//       .description {
//         display: grid;
//         grid-template-rows: repeat(4,0.5fr);

//         h3{
//           text-transform: capitalize;
//         }

//         h4{
//           font-size: 1.5rem;
//           color: var(--primaryColor);
//         }

//         a {
//           @include flexCentering;
//           @include mainButton;
//           height: 50px;
//           margin-top: 50px;
//         }

//         ul{
//           font-family: 'Times New Roman', Times, serif;
//           line-height: 1.5;
//           list-style: none;
//         }

//       }

//       .close{
//          position: absolute;
//          top: 0;
//          right: 14px;
//          font-size: 42px;
//          transform: rotate(45deg);
//          cursor: pointer;
//      }
//   }
// }
/* --------------- End of Modal Section ---------------- */  


