@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
@import 'config';

:root {
  --primaryColor: #379683;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Grenze', serif;
}

a{
  text-decoration: none;
}

/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    z-index: 1;

    .navbar-center {
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      justify-content: space-between;

      .logo {
        width: 40px;
        height: 40px;
      }

      .cart-btn {
        position: relative;
        cursor: pointer;

        .nav-icon {
          font-size: 1.5rem;
        }
        .cart-items {
          position: absolute;
          top: -8px;
          right: -8px;
          background: var(--primaryColor);
          padding: 0 5px;
          border-radius: 30%;
          color: var(--mainWhite);
        }

      }

    }

}

  /* --------------- End of Navbar ---------------- */
  /* --------------- Hero ---------------- */
.hero {
    min-height: calc(100vh - 50px);
    background: url("../images/hero-bcg.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    .banner {
      text-align: center;
      display: inline-block;
      padding: 2rem;
      margin-top: 100px;
      .banner-title {
        font-size: 3.4rem;
        text-transform: uppercase;
        letter-spacing: var(--mainSpacing);
        color: var(--mainWhite);
        margin-bottom: 3rem;
      }
      .banner-btn {
        @include mainButton;
      }
    }
  }

  /* --------------- End of Hero ---------------- */
  /* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
    .section-title{
      h2 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 5rem;
      text-transform: uppercase;
      letter-spacing: var(--mainSpacing);
        &:after {
            content: "";
            position: absolute;
            bottom: -135px;
            width: 76px;
            height: 5px;
            margin: 0 0 0 -38px;
            left: 50%;
            background: var(--primaryColor);
        }
      }
  }

    .products-center {
      width: 90vw;
      margin: 0 auto;
      max-width: 1170px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-gap: 2rem;

      .product {
        box-shadow: 0 0 12px #aaa;

        .img-container {
          position: relative;
          overflow: hidden;
        }
        .bag-btn {
          position: absolute;
          top: 70%;
          right: 0;
          background: var(--primaryColor);
          border: none;
          text-transform: uppercase;
          padding: 0.5rem 0.75rem;
          letter-spacing: var(--mainSpacing);
          font-weight: bold;
          transition: var(--mainTransition);
          transform: translateX(101%);
          cursor: pointer;
          outline: none;
        }
        .bag-btn:hover {
          color: var(--mainWhite);
        }
        // .fa-shopping-cart {
        //   margin-right: 0.5rem;
        // }
        .img-container:hover .bag-btn {
          transform: translateX(0);
        }
        .product-img {
          display: block;
          padding: 20px;
          width: 100%;
          min-height: 12rem;
          transition: var(--mainTransition);
        }
        .img-container:hover .product-img {
          opacity: 0.7;
        }
        
        h3 {
          text-transform: capitalize;
          font-size: 1.1rem;
          margin-top: 1rem;
          border-bottom: 1px #222 solid;
          border-top: 1px #222 solid;
          letter-spacing: var(--mainSpacing);
          text-align: center;
          padding: 10px;
        }
        
        h4 {
          margin-top: 0.7rem;
          letter-spacing: var(--mainSpacing);
          color: var(--primaryColor);
          font-size: 2rem;
          text-align: center;
          padding: 10px;
        }
      }

    }
  }

  /* ---------------End of Products ---------------- */
  /* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(34, 2, 0, 0.5);
    z-index: 2;
    visibility: hidden;
  }
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: var(--mainWhite);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
    img {
      width: 75px;
      height: 75px;
    }
    h4 {
      text-transform: capitalize;
      letter-spacing: var(--mainSpacing);
    }
     h5 {
      margin: 0.5rem 0;
      letter-spacing: var(--mainSpacing);
    }
    .item-amount {
      text-align: center;
    }
    .remove-item {
      color: red;
      cursor: pointer;
    }
    .fa-plus,
    .fa-minus {
      color: var(--primaryColor);
      cursor: pointer;
    }
  }
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }

  .clear-cart {
    @include mainButton;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  
/* --------------- End of Cart ---------------- */
/* --------------- Footer ---------------- */
footer {
  height: 5vh;
  background: darkgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;

  p{
    margin: 0 10px;
  }
}
/* --------------- End of Footer ---------------- */  
/* --------------- Cart animation ---------------- */  
.zoom {
  position: absolute;
  right: 50%;
  width: 40px;
  height: 40px;
  //opacity: 0;
  animation: zoom 1s ease-in forwards;
}

@keyframes zoom {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0; right: 450px; }
}